@ratio: 124rem;

@purple-color: rgba(168, 163, 222, 1);
@purple-dark-color: rgba(127, 124, 224, 1);
@white-color: rgba(255, 255, 255, 1);

.boxshadow(@h: 0, @v: 8px, @blur: 4px, @color: rgba(0, 0, 0, .1)) {
  box-shadow: @h @v @blur @color;
}

.second-step {
  position: relative;
}

.form-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1014/@ratio;
  height: 1598/@ratio;
  transform: translate(-50%, -50%);
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(rgba(138, 120, 255, 1), rgba(189, 255, 255, 1));
    opacity: .43;
    border-radius: 20/@ratio;
    .boxshadow();
  }
  .form-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .form-avatar {
    position: absolute;
    left: 50%;
    top: -103/@ratio;
    width: 270/@ratio;
    height: 270/@ratio;
    background-image: url('./assets/avatar-bg.png');
    background-position: center;
    background-size: 270/@ratio 270/@ratio;
    border-radius: 50%;
    transform: translate(-50%, 0);
  }
  .form-item {
    &-name {
      margin-top: 250/@ratio;
    }
    &-gender {
      margin-top: 145/@ratio;
      .form-item__select {
        &-slider {
          width: 50%;
        }
        &-item {
          width: 50%;
        }
      }
    }
    &-age {
      margin-top: 145/@ratio;
      .form-item__select {
        &-slider {
          left: 25%;
          width: 25%;
        }
        &-item {
          width: 25%;
        }
      }
    }
    &__title {
      font-size: 55/@ratio;
      line-height: 1;
      text-align: center;
      color: @purple-dark-color;
    }
    &__input {
      margin-top: 75/@ratio;
      text-align: center;
      input {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 826/@ratio;
        height: 127/@ratio;
        border: 11/@ratio solid rgba(232, 234, 254, 1);
        background-color: rgba(237, 239, 254, 1);
        border-radius: 25/@ratio;
        color: rgba(107, 85, 185, 1);
        .boxshadow(0, 2px, 6px, rgba(4, 0,0,.1));
        box-sizing: border-box;
        font-size: .4rem;
        -webkit-appearance: none;
        outline: 0;
      }
    }
    &__select {
      position: relative;
      margin: 75/@ratio auto 0;
      width: 826/@ratio;
      height: 127/@ratio;
      background-color: rgba(255, 255, 255, .3);
      border-radius: 25/@ratio;
      .boxshadow(0, 2px, 6px, rgba(4,0,0,.1));
      &-slider {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 127/@ratio;
        background: linear-gradient(90deg, rgba(169, 205, 255, .67), rgba(138, 120, 255, .67));
        border-radius: 25/@ratio;
        .boxshadow(0, 2px, 6px, rgba(4,0,0,.1));
        transition: left .25s;
      }
      &-item {
        position: absolute;
        color: @purple-color;
        height: 127/@ratio;
        line-height: 127/@ratio;
        border-radius: 25/@ratio;
        text-align: center;
        font-size: 50/@ratio;
        transition: color .25s;
        &--select {
          color: @white-color;
        }
      }
    }
  }
  .form-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1014/@ratio;
    height: 166/@ratio;
    line-height: 166/@ratio;
    font-size: 51/@ratio;
    color: @white-color;
    text-align: center;
    &:before {
      content: '开始创作';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(90deg, rgba(169, 205, 255, 1), rgba(138, 120, 255, 1));
      border-radius: 0 0 20/@ratio 20/@ratio;
      opacity: .78;
    }
  }
  .form-tip {
    position: absolute;
    left: 0;
    bottom: -100/@ratio;
    width: 100%;
    text-align: center;
    font-size: 37/@ratio;
    color: @purple-dark-color;
  }
}

.dialog-wrapper {
  display: none;
  &.active {
    display: block;
  }
  .dialog-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .67);
  }
  .dialog-container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 940/@ratio;
    height: 684/@ratio;
    margin: -342/@ratio 0 0 -470/@ratio;
    opacity: 1;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(rgba(138, 151, 255, .82), rgba(219, 255, 255, .82));
      border-radius: 20/@ratio;
      .boxshadow(0, 8px 2px, rgba(189, 189, 198, 1));
    }
  }
  .dialog-avatar {
    position: absolute;
    left: 50%;
    top: -112/@ratio;
    width: 189/@ratio;
    height: 182/@ratio;
    background-image: url('./assets/square-bg.png');
    background-position: center;
    background-size: 189/@ratio 182/@ratio;
    transform: translate(-50%, 0);
  }
  .dialog-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    font-size: 45/@ratio;
    line-height: 70/@ratio;
    color: rgba(136, 82, 160, 1);
    &--exchange {
      padding-top: 112/@ratio;
      .time-tip {
        font-size: 35/@ratio;
      }
    }
  }
  .dialog-icon {
    margin: 105/@ratio auto 25/@ratio;
    width: 190/@ratio;
    height: 190/@ratio;
    background-position: center;
    background-size: 190/@ratio 190/@ratio;
    background-repeat: no-repeat;
    &--smile {
      background-image: url('./assets/smile-icon.png');
    }
    &--cry {
      background-image: url('./assets/cry-icon.png');
    }
    &--heart {
      width: 149/@ratio;
      height: 129/@ratio;
      background-image: url('./assets/heart-icon.png');
      background-size: 149/@ratio 129/@ratio;
      margin: 30/@ratio auto 10/@ratio;
    }
  }
  .dialog-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 940/@ratio;
    height: 144/@ratio;
  }
  .dialog-button {
    height: 144/@ratio;
    line-height: 144/@ratio;
    font-size: 42/@ratio;
    text-align: center;
    outline: 0;
    border: none;
    &--close {
      color: @white-color;
      width: 100%;
      background: linear-gradient(90deg, rgba(169, 205, 255, .78), rgba(138, 120, 255, .78));
      border-radius: 0 0 20/@ratio 20/@ratio;
    }
    &--cancel, &--exchange {
      display: inline-block;
      width: 50%;
    }
    &--cancel {
      color: @purple-color;
      border-radius: 0 0 0 20/@ratio;
      background-color: @white-color;
    }
    &--exchange {
      color: @white-color;
      border-radius: 0 0 20/@ratio 0;
      background: linear-gradient(90deg, rgba(169, 205, 255, .78), rgba(138, 120, 255, .78));
    }
  }
}

.result-wrapper {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: @white-color;
  &.active {
    display: block;
  }
  .result-container {
    position: absolute;
    left: 50%;
    top: 45%;
    width: 1019/@ratio;
    height: 1625/@ratio;
    transform: translate(-50%, -50%);
    text-align: center;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(rgba(138, 120, 255, 1), rgba(189, 255, 255, 1));
      opacity: .43;
      border-radius: .15rem;
      box-shadow: 0 2px 4px rgba(4,0,0,.1);
    }
    .tip-wrapper {
      margin-top: 7.7rem;
      line-height: .6rem;
    }
  }
  .result-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: @purple-dark-color;
    h4 {
      font-weight: 400;
      font-size: 70/@ratio;
      margin-top: 124/@ratio;
    }
    p {
      font-size: 50/@ratio;
      margin-top: 248/@ratio;
    }
  }
  .result-icon {
    margin: 248/@ratio auto 0;
    width: 234/@ratio;
    height: 234/@ratio;
    background-image: url('./assets/thumb-bg.png');
    background-position: center;
    background-size: 234/@ratio 234/@ratio;
    border-radius: 50%;
  }

  .result-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1019/@ratio;
    height: 166/@ratio;
    line-height: 166/@ratio;
    font-size: 51/@ratio;
    color: @white-color;
    text-align: center;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(90deg, rgba(169, 205, 255, 1), rgba(138, 120, 255, 1));
      border-radius: 0 0 20/@ratio 20/@ratio;
      opacity: .78;
    }
    &__content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  .result-tip {
    position: absolute;
    left: 0;
    bottom: -150/@ratio;
    width: 100%;
    text-align: center;
    font-size: 37/@ratio;
    color: @purple-dark-color;
  }
}